/* Style Imports */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Playfair+Display:wght@600&family=Poppins&display=swap');

/* Global Styles */
:root {
    --hover: #FF4081;
    --selected: #ff91b5;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Crimson Pro', serif;
}

.selected {
    background-color: var(--selected);
}

/* Style for the Home title */
#home_title_container {
    text-align: center;
    margin: auto;
}

/* Style for the form steps indicator */
#bouq_form_progress {
    margin: 20px auto;
}

.md-stepper-horizontal {
	display:table;
    width: 70%;
    margin: auto;
	background-color:#FFFFFF;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:20px;
    width: 20%;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.pink .md-step.active .md-step-circle {
	background-color: var(--selected);
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: var(--hover);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	content: "✓";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-weight:100;
	content: "✎";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}

/* Sections Styles (Colors, Shape, Vibe) */

/* Style for the Colors section */
.color-options {
    border-radius: 5px;
    background-color: #FEF2F4; /* Less bright pink */
    padding: 10px;
    margin-right: 10px; /* Add margin to create space between pink boxes */
    text-align: left; /* Center-align text */
}

/* Style for the title */
.color-options h4 {
    margin-bottom: 10px; /* Add some spacing between title and checkboxes */
    text-align: center;
}

/* Style for individual color groups */
.color-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* Center-align color groups horizontally */
    gap: 10px; /* Add gap between color groups */
}

/* Style for individual color options */
.color-group label {
    background-color: #FEF2F4; /* Less bright pink */
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    flex: 0 0 calc(33.33% - 10px); /* Each color option takes one-third of the width with a gap */
}

/* Add a hover effect for better interaction */
.color-group label:hover {
    background-color: var(--hover); /* Lighter pink on hover */
}

/* Style for checkboxes */
.color-group input[type="checkbox"] {
    margin-right: 5px; /* Add some space between checkbox and text */
}

/* Center the "What Shape?" title */
.shape-options {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background-color: #FEF2F4; /* Less bright pink */
    margin-right: 10px; /* Add margin to create space between pink boxes */
    text-align: center; /* Center-align text */
}

/* Style the shape options content */
.shape-options-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 20px; /* Add padding to separate title from options */
}


/* Flower Options Styles */
.flower-option {
    background-color: #FEF2F4; /* Less bright pink */
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; /* Add margin to create space between pink boxes */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align content horizontally */
    text-align: center; /* Center-align text */
}

.flower-option img {
    width: 100px; /* Adjust the width to your desired size */
    height: auto; /* This ensures the image maintains its aspect ratio */
}

#vibe-options {
    /* Existing styles */
    background-color: #FEF2F4;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
}

/* Style for radio buttons and labels */
#vibe-options label {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Add a hover effect for better interaction */
#vibe-options label:hover {
    background-color: #FF4081; /* Lighter pink on hover */
}


/* Radio Buttons Styles */
input[type="radio"] {
    transform: scale(1.3); /* Increase the size of radio buttons for better visibility */
    margin-right: 5px;
}

/* Radio Buttons Styles */
input[type="checkbox"] {
    transform: scale(1.3); /* Increase the size of radio buttons for better visibility */
    margin-right: 5px;
}

/* Submit Button Styles */
#submit_btn {
    background-color: #FEF2F4; /* Less bright pink */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Set left and right margin to auto for horizontal centering */
}

#img_btn {
    background-color: white; /* Less bright pink */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Set left and right margin to auto for horizontal centering */
}

/* Results and Gallery Styles */
#results, #gallery {
    background-color: #FEF2F4; /* Less bright pink */
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.flower-info {
    font-size: 10px;
    width: 75%;
}

/* Flower Options Container */
.flower-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.flower-image {
    width: 20px; /* Adjust the width to your desired size */
    height: auto; /* This ensures the image maintains its aspect ratio */
}

/*
Waiting Ajax stuff
*/

#spinner-div {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
