{% extends "layout.html" %}

{% block content %}
    <div>
        <div id="home_title_container" class="page-section">
            <div class="center-div">
                <div>
                    <img id="home_logo" src="static/logo.png"> 
                    <h3>florality: the gen ai bouquet designer</h3>
                    <p>let's make something beautiful</p>
                </div>
                
                <a class="btn-custom" href="#options_step">get started</a>
            </div> 
        </div>

        <div class="page-section" id="options_step">
            <div class="flow-step">
                <div id="bouq_form" class="section-custom">
                    <div>
                        <!-- Color Options -->
                        <div class="options-section" id="color-options">
                            <div class="options-title-container">
                                <div>
                                    <div></div>
                                </div>
                                <h4>colors</h4>
                            </div>
                            <div class="options-container">
                                <div class="option color-option tooltip-custom" id="reds_color_option">
                                    <input id="reds" class="checkbox" type="checkbox" name="color_options" value="reds">
                                    <label class="color-label" for="reds">
                                        <span class="tooltiptext-xs">reds</span>
                                    </label>
                                </div>
    
                                <div class="option color-option tooltip-custom" id="oranges_color_option">
                                    <input id="oranges" class="checkbox" type="checkbox" name="color_options" value="oranges">
                                    <label class="color-label" for="oranges">
                                        <span class="tooltiptext-xs">oranges</span>
                                    </label>
                                </div>
    
                                <div class="option color-option tooltip-custom" id="yellows_color_option">
                                    <input id="yellows" class="checkbox" type="checkbox" name="color_options" value="yellows">
                                    <label class="color-label" for="yellows">
                                        <span class="tooltiptext-xs">yellows</span>
                                    </label>
                                </div>
    
                                <div class="option color-option tooltip-custom" id="greens_color_option">
                                    <input id="greens" class="checkbox" type="checkbox" name="color_options" value="greens">
                                    <label class="color-label" for="greens">
                                        <span class="tooltiptext-xs">greens</span>
                                    </label>
                                </div>
    
                                <div class="option color-option tooltip-custom" id="blues_color_option">
                                    <input id="blues" class="checkbox" type="checkbox" name="color_options" value="blues">
                                    <label class="color-label" for="blues">
                                        <span class="tooltiptext-xs">blues</span>
                                    </label>
                                </div>
    
                                <div class="option color-option tooltip-custom" id="purples_color_option">
                                    <input id="purples" class="checkbox" type="checkbox" name="color_options" value="purples">
                                    <label class="color-label" for="purples">
                                        <span class="tooltiptext-xs">purples</span>
                                    </label>
                                </div>
    
                                <div class="option color-option tooltip-custom" id="whites_color_option">
                                    <input id="whites" class="checkbox" type="checkbox" name="color_options" value="whites">
                                    <label class="color-label" for="whites">
                                        <span class="tooltiptext-xs">whites</span>
                                    </label>
                                </div>
    
                                <div class="option color-option tooltip-custom" id="neutrals_color_option">
                                    <input id="neutrals" class="checkbox" type="checkbox" name="color_options" value="neutrals">
                                    <label class="color-label" for="neutrals">
                                        <span class="tooltiptext-xs">neutrals</span>
                                    </label>
                                </div>
    
                                <div class="option color-option tooltip-custom" id="pinks_color_option">
                                    <input id="pinks" class="checkbox" type="checkbox" name="color_options" value="pinks">
                                    <label class="color-label" for="pinks">
                                        <span class="tooltiptext-xs">pinks</span>
                                    </label>
                                </div>
                            </div>
                        </div>
            
                        <!-- Shape Options -->
                        <div id = 'shape-options' class = 'shape-options options-section'>
                            <div class="options-title-container">
                                <div>
                                    <div></div>
                                </div>
                                <h4>shape</h4>
                            </div>
                            <div class='options-container'>
                                <div class="option tooltip-custom">
                                    <input id="round_shape" type="radio" name="shape" value="round"> 
                                    <label for="round_shape">
                                        <img src="/static/round.png" alt="round bouquet" class="shape-img">
                                        <span class="tooltiptext-xs">round</span>
                                    </label>
                                </div>
                                <div class="option tooltip-custom">
                                    <input id="pageant_shape" type="radio" name="shape" value="pageant">
                                    <label for="pageant_shape">
                                        <img src="/static/pageant.png" alt="pageant bouquet" class="shape-img">
                                        <span class="tooltiptext-xs">pageant</span>
                                    </label>
                                </div>
                                <div class="option tooltip-custom">
                                    <input id="cascade_shape" type="radio" name="shape" value="cascade">
                                    <label for="cascade_shape">
                                        <img src="/static/cascade.png" alt="cascade bouquet" class="shape-img">
                                        <span class="tooltiptext-xs">cascade</span>
                                    </label>
                                </div>
                                <div class="option tooltip-custom">
                                    <input id="nosegay_shape" type="radio" name="shape" value="nosegay">
                                    <label for="nosegay_shape">
                                        <img src="/static/nosegay.png" alt="nosegay bouquet" class="shape-img">
                                        <span class="tooltiptext-xs">nosegay</span>
                                    </label>
                                </div>
                                <div class="option tooltip-custom">
                                    <input id="pomander_shape" type="radio" name="shape" value="pomander">
                                    <label for="pomander_shape">
                                        <img src="/static/pomander.png" alt="pomander bouquet" class="shape-img">
                                        <span class="tooltiptext-xs">pomander</span>
                                    </label>
                                </div>
                                <div class="option tooltip-custom">
                                    <input id="posy_shape" type="radio" name="shape" value="posy">
                                    <label for="posy_shape">
                                        <img src="/static/posy.png" alt="posy bouquet" class="shape-img">
                                        <span class="tooltiptext-xs">posy</span>
                                    </label>
                                </div>
                            </div>
                        </div>
            
                        <!-- Vibe Options -->
                        <div id = 'vibe-options' class="options-section">
                            <div class="options-title-container">
                                <div>
                                    <div></div>
                                </div>
                                <h4>vibe</h4>
                            </div>
                            <div class="options-container">
                                <div class="option">
                                    <input id="traditional" type="radio" name="vibe" value="traditional">
                                    <label for="traditional">traditional</label>
                                </div>
                                <div class="option">
                                    <input id="bohemian" type="radio" name="vibe" value="bohemian">
                                    <label for="bohemian">bohemian</label>
                                </div>
                                <div class="option">
                                    <input id="vintage" type="radio" name="vibe" value="vintage">
                                    <label for="vintage">vintage</label>
                                </div>
                                <div class="option">
                                    <input id="garden" type="radio" name="vibe" value="garden">
                                    <label for="garden">garden</label>
                                </div>
                                <div class="option">
                                    <input id="rustic" type="radio" name="vibe" value="rustic">
                                    <label for="rustic">rustic</label>
                                </div>
                                <div class="option">
                                    <input id="beach" type="radio" name="vibe" value="beach">
                                    <label for="beach">beach</label>
                                </div>
                            </div>
                        </div>
    
                        <!-- Season Options -->
                        <div id='season-options' class="options-section">
                            <div class="options-title-container">
                                <div>
                                    <div></div>
                                </div>
                                <h4>season</h4>
                            </div>
                            <div class="options-container">
                                <div class="option">
                                    <input id="spring" type="radio" name="season" value="spring">
                                    <label for="spring">spring</label>
                                </div>
                                <div class="option">
                                    <input id="summer" type="radio" name="season" value="summer">
                                    <label for="summer">summer</label>
                                </div>
                                <div class="option">
                                    <input id="autumn" type="radio" name="season" value="autumn">
                                    <label for="autumn">autumn</label>
                                </div>
                                <div class="option">
                                    <input id="winter" type="radio" name="season" value="winter">
                                    <label for="winter">winter</label>
                                </div>
                            </div>
                        </div>
    
                    </div>
            
                    <!-- Input Text Box -->
                    <div id="extra-options" class="extras options-section">
                        <div class="options-title-container">
                            <div>
                                <div></div>
                            </div>
                            <h4>anything else your bouquet needs? ex. specific flowers, other themes</h4>
                        </div>
                        <input type="text" id="extras" name="extras">
                    </div>
            
                    <!-- Submit Button -->
                    <div class="text-center">
                        <a href="#flower_shop_section">
                            <input type="submit" value="build my bouquet" id='submit_btn' class="btn-custom">
                        </a>
                    </div>
                </div>
            </div>
        </div>            

        <div class="page-section" id="flower_shop_section">
            <div class="flow-step text-center"> 
                <div id="rec_step">        
                    <div id="results">
                        <!-- <div class="flower-option">
                            <img src="static/generated_images/singl-1700185788/singl-1700185788-0.png" alt="Carnations">
                            <select class="colors-dropdown" name="flower_colors">
                                <option value="Scarlet">Scarlet</option><option value="Mauve">Mauve</option>
                                <option value="Lilac">Lilac</option>
                            </select>
                            <div class="flower-name">Carnations
                            </div>
                            <input id="carnations_1" class="checkbox" type="checkbox" name="selected_flowers" value="Carnations">
                            <label for="carnations_1" class="tooltip-custom">
                                <span class="tooltiptext flower-info">
                                    Carnations are a popular flower choice in bouquets for their variety of vibrant colors ranging from whites, pinks, yellows, purples, and reds, and for their small size which makes them a great filler flower. Symbolizing love and fascination, they make a timeless addition to a bouquet, and can be used to express feelings of deep adoration or gratitude.
                                </span>
                            </label>
                        </div> -->
                        <input type='submit' value='visualize my bouquet' id='img_btn' class="btn-custom">
                    </div>
                    <div id="gallery">
                    </div>
                </div> 
            </div>
        </div>       

        <script>
            var form_data = {{data|tojson}}
    
            $(function() {
                $("#submit_btn").click(function(){
                    let checkboxes = document.querySelectorAll('input[name="color_options"]:checked');
                    let colors = [];
                    checkboxes.forEach((checkbox) => {
                        colors.push(checkbox.value);
                    });
    
                    let shape = document.querySelector('input[name="shape"]:checked').value;
                    let vibe = document.querySelector('input[name="vibe"]:checked').value;
                    let season = document.querySelector('input[name="season"]:checked').value;
    
                    let extras = document.getElementById('extras').value
    
                    submit_form(colors, shape, vibe, season, extras)
                })
    
                $('.option').click(function(){
                    let checkboxes = document.querySelectorAll('input[name="color_options"]:checked');
                    let shape = document.querySelectorAll('input[name="shape"]:checked');
                    let vibe = document.querySelectorAll('input[name="vibe"]:checked');
                    let season = document.querySelectorAll('input[name="season"]:checked');
    
                    console.log("option clicked")
    
                    if (checkboxes.length > 0) {
                        $("#colors_step").addClass('done')
                    } else {
                        $("#colors_step").removeClass('done')
                    }
    
                    if (shape.length > 0) {
                        $("#shape_step").addClass('done')
                    } else {
                        $("#shape_step").removeClass('done')
                    }
    
                    if (vibe.length > 0) {
                        $("#vibe_step").addClass('done')
                    } else {
                        $("#vibe_step").removeClass('done')
                    }
    
                    if (season.length > 0) {
                        $("#season_step").addClass('done')
                    } else {
                        $("#season_step").removeClass('done')
                    }
                })
            });
    
            function submit_form(colors, shape, vibe, season, extras){
                let data = {"colors":colors,"shape":shape, "season":season, 'vibe':vibe, "extras":extras}
                $.ajax({
                    type: "POST",
                    url: "/submit_form",                
                    dataType : "json",
                    contentType: "application/json; charset=utf-8",
                    
                    data : JSON.stringify(data),
                    beforeSend: function () { 
                        $("#spinner-div").show()
                    },
                    success: function(data, text){
                        // console.log("submit_headline response")          
                        form_data = data
                        show_results(data)
                    },
                    error: function(request, status, error){
                        console.log("Error");
                        console.log(request)
                        console.log(status)
                        console.log(error)
                    },
                    complete: function () { 
                        $("#spinner-div").hide()
                    },
                }); 
            }
    
            function show_results(data){
                $("#results").show();
                $("#gallery").hide()
                $("#gallery").empty();
    
                // Clear any previous content in the results div
                //$("#results").empty();
    
                    // Check if there are flowers in the data
                if (data && data.flowers && data.flowers.length > 0) {
                    // Create a container for the flower checkboxes
                    var flowerContainer = $("<div class='flower-options'></div>");
                    console.log(data.flower_images)
                    // Loop through the flowers and create checkboxes
                    console.log(data.flowers)

                    var index = 0;

                    data.flowers.forEach(function (flower) {
                        index += 1;
                        var flowerId = flower + (index).toString();
                        
                        if (data.flower_colors[flower] != undefined) {
                            var flowerDiv = $("<div class='flower-option'></div>");
                            var checkbox = $("<input id='" + flowerId + "' class='checkbox' type='checkbox' name='selected_flowers' value='" + flower + "'> " + flower);
                            console.log(flower)
                            console.log(data.flower_images[flower])
                            var label = $("<label class='tooltip-custom' for='" + flowerId + "'><span class='tooltiptext flower-info'>" + data.flower_info[flower] + "</span></label>")
                            var flowerImage = $("<img src='" + data.flower_images[flower] + "' alt='" + flower + "'>");
                            var caption = $("<div class='flower-name'>" + flower + "</div>");
                            
                            // Create a select element for flower colors
                            var flowerColorsSelect = $("<select class='colors-dropdown' name='flower_colors'></select>");
    
                            // Iterate over each color for the current flower and create an option element
                            data.flower_colors[flower].forEach(function (color) {
                                var colorOption = $("<option value='" + color + "'>" + color + "</option>");
                                flowerColorsSelect.append(colorOption);
                            });
                            // Append the image and checkbox to the container
                            flowerDiv.append(flowerImage);
                            flowerDiv.append(flowerColorsSelect);
                            flowerDiv.append(caption);
                            flowerDiv.append(checkbox);      
                            flowerDiv.append(label);
                
                            // Append the container to the flower options
                            flowerContainer.append(flowerDiv);
                        } else {
                            console.log("Wrongly formatted flower colors")
                        }
                            
                    });
                    
                    // Append the flower container and a 'Visualize bouquet' button to the results div
                    $("#results").prepend(flowerContainer);
                    //$("#results").append("<input type='submit' value='Visualize bouquet' id='img_btn'>");
                }
                
                // Add an event listener for the 'Visualize bouquet' button
                $("#img_btn").click(function () {
                    // Implement the logic to visualize the bouquet when the button is clicked
                    // You can call the function or make another AJAX request here
                    let selectedFlowersWithColors = [];
    
                    // Iterate over each selected flower
                    $('input[name="selected_flowers"]:checked').each(function () {
                        let flowerName = $(this).val();
    
                        // Find the corresponding color for the selected flower
                        let selectedColor = $(this).closest('.flower-option').find('select[name="flower_colors"]').val();
    
                        // Append the flower name and selected color to the array
                        selectedFlowersWithColors.push({ flower: flowerName, color: selectedColor });
                    });
    
                    // Log or use the selected flowers with colors as needed
                    console.log(selectedFlowersWithColors);
    
                    req_img(selectedFlowersWithColors, form_data)
                });
            }
    
    
            function req_img(selected_flowers, form_data){
                let data = {"selected_flowers":selected_flowers,"form_data":form_data}
                $.ajax({
                    type: "POST",
                    url: "/req_img",                
                    dataType : "json",
                    contentType: "application/json; charset=utf-8",
                    
                    data : JSON.stringify(data),
                    beforeSend: function () { 
                        $("#spinner-div").show()
                    },
                    success: function(data, text){
                        //console.log("submit_headline response")
                        //console.log(data)                
                        new_form_data = data
                        show_generations(data["generations"])
                    },
                    error: function(request, status, error){
                        console.log("Error");
                        console.log(request)
                        console.log(status)
                        console.log(error)
                    },
                    complete: function () { 
                        $("#spinner-div").hide()
                    },
                }); 
            }
    
    
            function show_generations(generations_list){ 
                $("#gallery").show()            
                $("#gallery").empty()
    
                console.log(generations_list)
    
                $.each(generations_list, function(i,item){
                    // console.log(item)
                    let new_gen_div = $("<div class='gen-img'>"+"<img src='"+item+"''></div>")
                    
                    $("#gallery").append(new_gen_div)
                })
            }
        </script>
                
{% endblock %}

